.page {
    position: relative;
    /*padding: 20px;*/
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

main {
    height: 100%;
}

.bottom-bar {
    flex-shrink: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background: #fff;
    border-top: 1px solid #e5e7eb;
}