.svg-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex: 1;
    display: flex;
}

#shopSVG {
    background-color: #f9f9f9;
    cursor: crosshair;
    user-select: none;
    width: 100%;
    flex: 1;
}

.handle {
    fill: #007bff;
    stroke: #fff;
    stroke-width: 1.5px;
    cursor: pointer;
}

.hit-area {
    fill: transparent;
    cursor: pointer;
}
