<div class="svg-container">
	<svg id="shopSVG">
		<style type="text/css">
			.shelf {
				transition: stroke .5s ease-out;
			}
			#grid-rect {
				stroke: gray;
                stroke-width: 0;
                transition: stroke-width .5s ease-out;
            }
			#grid-rect.border {
				stroke-width: 1;
			}
			.hit-area {
				r: 10px;
			}

			@@media (max-width: 768px) {
				.handle {
					r: 10px !important;
				}

				.hit-area {
					r: 30px !important;
                }
			}
		</style>
		<defs>
			<pattern id="grid" width="20" height="20" patternUnits="userSpaceOnUse">
				<path d="M 20 0 L 0 0 0 20" fill="none" stroke="lightgray" stroke-width="0.5" />
			</pattern>
			<pattern id="linePattern" width="10" height="10" patternUnits="userSpaceOnUse" patternTransform="rotate(45)">
				<path d="M 0 0 L 0 10" fill="none" stroke="rgba(0,0,0,0.5)" stroke-width="1" />
			</pattern>
		</defs>
		@if (editorMode != null)
		{
			<rect id="grid-rect" width="100%" height="100%" fill="@(editorMode == EditorMode.WallEditor ? "url(#grid)" : "none")" />
		}
		<g id="layout-container"></g>
	</svg>
</div>

@code {
	[Parameter] public EditorMode? editorMode { get; set; }
}