.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    z-index: 5;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    pointer-events: none;
}

    .loader-container.show {
        opacity: 1;
        pointer-events: all;
    }